
/* changes background and font */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
    width: 1024px;
    margin: auto;
    background-color:#D4E9E7;

}

/* nav spacing and position */

.topnav {
    font-size: 28px;
    overflow: hidden;
    word-spacing: 240px;
}


/* centers and spreads out nav list */
nav ul li {
    display: inline-block;
    text-align: center;
    padding: 1px;
}

h2 {
    text-align: left;
    font-size: 30px;
    margin: 15px;
}



/* centers text */
div.wrapper {
    text-align: center;
    font-size: 20px;
    position: relative;
}

/* centers image */
.center {
    display: block;
    margin: auto;
}

/* centers and displays text over image */
h1 {
    position: absolute;
    top: 11%;
    width: 100%;
    text-align: center;
    font-size: 63px;
    color: white;
    font-weight: lighter;
}

/* centers image */
.container {
    position: absolute;
    max-width: 100%;
}

.img {
    float: left;
    margin: 5px;
}   

.para {
    text-align: left;
    font-size: 16px;
}

label,input, textarea {
    width: 90%;
    margin-left: 20px;
}

form {
    border: 2px solid black;
    margin: 10px;
}

label, input {
display: block;

}

label {
    margin-top: 40px;
}

footer {
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
}




button {
    text-decoration: none;
    background-color:#D4E9E7;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: black;
}
