body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/************ NAVAGATION ************/


nav {
    display: inline-block;
    background-color: #222;
    color: #c78c06;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.logo {
   float: left;
   
}

.search {
    background-color: #222;
    color: #c78c06;
    border: 4px #c78c06;
    width: 100%;
}

li {
    clear: both;
    width: 100%;
    margin: auto;
}

form {
    display: inline;
}

.link, a {
    list-style: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #c78c06;
}

a:hover{
    color: #222;
    background-color: #c78c06;
    width: 100%;

}

/************ HOME PAGE ************/

.homeimage {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.hometext {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34, .7);;
  width: 100%;
}
.connect {
    background-color: #c78c06;
    padding:20px;
    font-size: 20px;
    border: none;
}

.homeheader, .homepara {
    color: white;
}

.homeheader {
    font-size: 60px;
}