body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/************ NAVAGATION ************/


nav {
    display: inline-block;
    background-color: #222;
    color: #c78c06;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.logo {
   float: left;
   
}

.search {
    background-color: #222;
    color: #c78c06;
    border: 4px #c78c06;
    width: 100%;
}

li {
    clear: both;
    width: 100%;
    margin: auto;
}

form {
    display: inline;
    width: 100%;
}

.link, a {
    list-style: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #c78c06;
}

a:hover{
    color: #222;
    background-color: #c78c06;
    width: 100%;

}

/************ HOME PAGE ************/

.homeimage {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.hometext {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34, .7);
  width: 100%;
}
.connect {
    background-color: #c78c06;
    padding:20px;
    font-size: 20px;
    border: none;
}

.homeheader, .homepara {
    color: white;
}

.homeheader {
    font-size: 60px;
}

/************ ABOUT US ************/

.about-us {
    background-color: #ffe6ac;

}

.aboutimg {
    width: 500px;
    padding: 10px;
}

h1 {
    font-weight: bolder;
}

p {
    font-size: 12px;
}

/************ OUR SERVICES ************/

.card {
    background-color: #ffe6ac;
    margin: 10px;
}

.container {
    padding: 10px 26px;
  }

.cardimg {
    width: 463px;
    height: 300px;
}

.cardbtn {
    background-color: black;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 50px;
}

/************ OUR VISION ************/


.visionimg {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    color: white;
}

.visionbtn {
    background-color: rgb(34, 34, 34, .7);
    color: white;
    border: 1px solid #c78c06;
    width: 150px;
    height: 50px;
}


/************ OUR TEAM ************/

.teamcard {
    background-color: #ffe6ac;
    margin: 10px;
}

.teamimg {
    width: 463px;
}

.teamtxt {
    margin: 10px;
}

.txt1 {
    font-weight: bold;
}

.txt2 {
    font-weight: bold;
    font-size: 12px;
    border-bottom: 2px solid #c78c06;
    padding-bottom: 5px;
}

.txt3 {
    font-size: 11px;
}



/************ CONTACT US ************/

h2 {
    font-size: 20px;
}

input[type=text], select {
    width: 80%;
    padding: 2px 20px;
    display: inline-block;
    margin-left: 10px;
  
  }

  input[type=submit] {
    background-color: black;
    color: #c78c06;
    margin: 10px;
  }



  /************ TABLE ************/

  table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    
  }

  table {
    width: 100%;
    height: 100%;
  }

 .top {
    background-color: #ffe6ac;
    padding: 10px;
 }

  th {
    background-color: white;
    padding: 10px;
  }


  /********* FOOTER ************/

  footer {
    background-color: #222;
    font-size: 12px;
    color: #c78c06;
    padding: 10px;
  }

  /************* LOCATION **********/

  .map {
    padding: 10px;
  }

/************************* MEDIA QUERY *************************************/

  @media only screen and (min-width: 760px) {

    nav {
        display: flex;
        background-color: #222;
        color: #c78c06;
        justify-content: space-between;
        padding: 10px 10%;
        align-items: center;
    }
    .link {
        display: flex;
    }
    
    .search {
        background-color: #222;
        color: #c78c06;
        float: left;
    }
    
    li {
        min-width: 100px;
    }
    
    ul {
        list-style: none;
    }

    .hometext {
        width: 70%;
        height: 70%;
        font-size: 100px;
        padding-left: 10px;
    }

    .about-us {
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 100px;
        text-align: left;
        overflow: visible;
    }

    h1 {
        font-size: 40px;
    }

    .aboutimg {
        float: left;
        margin: 5px;
        width: 40%;
        height: 250px;
    }

    .card {
        display: inline-grid;
        grid-template-columns: 4 4 4;
        width: 30.5%;
    }

    

    .visionimg {
        background-image: url("../images/vision.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        position:relative;
        width: 100%;
        color: white;
    }

    .flex-container {
        
    }
    
  }


